body {
	background-color:rgb(186, 228, 178);
}
nav {
	background-color: lightblue;
	text-align: center;
}
h1 {
	background-color: lightcyan;
	color: darkblue;
	padding: 15px 0;
	border: 3px solid purple;
	text-align: center;
}