body {
	background-color: #edddd0;
}

header {
	background-color: #a6cad4;
	text-align: center;
	top: 0;
	left: 0;
	width: 100vw;
}

.wrapper {
	display: grid;
	grid-template-columns: 500px auto;
}

#welcome-title {
	color: #334259;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.about-me {
	display: flex;
	margin: 5px;
	padding: 10px;
}

h1 {
	color: #334259;
}

.first-p {
	grid-column: 1;
	grid-row: 2;
}

.second-p {
	grid-column: 1;
	grid-row: 2;
}

.my-photo {
	grid-column: 2;
	grid-row: 2;
}

footer {
	background-color: #a6cad4;
	text-align: center;
	top: 0;
	left: 0;
	width: 100vw;
}